{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>Chat360</title>
</head>

<body>
    <!--NAVBAR-->
    <nav class="relative container mx-auto p-6">
        <!--FLEX-->
        <div class="flex items-center justify-between">
            <!--LOGO-->
            <div>
                <img src="static/images/logo-color.png" alt="" style="height: 300px;">
            </div>
            <!--NAVBAR-->
            <div class=" flex space-x-56 font s">
                <!-- Adjusting the spacing between navbar links using "space-x-12" class -->
                <a href="#" class="text-xl hover:text-darkGrayishBlue">About</a>
                <a href="#" class="text-xl hover:text-darkGrayishBlue"">Features</a>
                <a href=" #" class="text-xl hover:text-darkGrayishBlue"">Contribute</a>
                

            </div>
            <!--BUTTON-->
            <a href=" #"
                    class=" p-3  px-6 pt-2 text-white bg-brightRed rounded-full hover:brightRedLight">Log-In/Sign-Up</a>
            </div>
    </nav>

    <!--BODY SECTION-->
    <section id="hero">
        <!--flex containers-->

        <div class="container flex flex-col-reverse md:flex-row items-center px-6 mx-auto mt-10 space-y-0 md:space-y-0">
            <!--LEFT ITEM-->
            <div class="flex flex-col mb-32 space-y-12 md:w-1/2">
                <h1 class="max-w-md text-4xl font-bold text-center md:text-5xl md:text-left">
                    Connecting the World, One Chat at a Time.
                </h1>
                <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
                    Discover Chat360: Where Conversations Thrive! Connect effortlessly through 1-on-1 video calls,
                    dynamic group video chats, and engaging interactions with our AI bot. Unite with others in vibrant
                    rooms, fostering meaningful connections and unforgettable moments. Your ultimate chat experience
                    awaits with Chat360!
                </p>

                <div class="flex justify-center md:justify-start">
                    <a href="#"
                        class="p-3 px-6 pt-2 text-white bg-brightRed rounded-full baseline hover:bg-brightRedLight">
                        Start Chatting!
                    </a>

                </div>


            </div>
            <!--IMAGE-->
            <div class="md:w-1/2">
                <img src="static/images/textingicon.jpg" alt="" />

            </div>


        </div>

    </section>

    <!--FEATURES-->
    <section id="features">
        <!-- Flex container -->
        <div class="container flex flex-col px-4 mx-auto mt-10 space-y-12 md:space-y-0 md:flex-row">
            <!-- What's Different -->
            <div class="flex flex-col space-y-12 md:w-1/2">
                <h2 class="max-w-md text-4xl font-bold text-center md:text-left">
                    What's different about Chat360?
                </h2>
                <p class="max-w-sm text-center text-darkGrayishBlue md:text-left">
                    Chat360 is your all-in-one chat app for 1-on-1 video calls, group video chats, AI bot interactions,
                    and interactive rooms. Connect effortlessly, chat securely, and discover a world of vibrant
                    connections.
                </p>
            </div>

            <!-- Numbered List -->
            <div class="flex flex-col space-y-8 md:w-1/2">
                <!-- List Item 1 -->
                <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                    <!-- Heading -->
                    <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
                        <div class="flex items-center space-x-2">
                            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
                                01
                            </div>
                            <h3 class="text-base font-bold md:mb-4 md:hidden">
                                Have 1 on 1 chats and video calls
                            </h3>
                        </div>
                    </div>

                    <div>
                        <h3 class="hidden mb-4 text-lg font-bold md:block">
                            Have 1 on 1 chats and video calls
                        </h3>
                        <p class="text-darkGrayishBlue">
                            Forge Close Connections with 1-on-1 Chats and Video Calls. Experience crystal-clear video
                            and real-time messaging, bringing you closer together. Stay connected with Chat360
                        </p>
                    </div>
                </div>

                <!-- List Item 2 -->
                <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                    <!-- Heading -->
                    <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
                        <div class="flex items-center space-x-2">
                            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
                                02
                            </div>
                            <h3 class="text-base font-bold md:mb-4 md:hidden">
                                Have group chats and group video calls
                            </h3>
                        </div>
                    </div>

                    <div>
                        <h3 class="hidden mb-4 text-lg font-bold md:block">
                            Have group chats and group video calls
                        </h3>
                        <p class="text-darkGrayishBlue">
                            Embrace Togetherness with Group Chats and Video Calls. Gather loved ones and colleagues in
                            one space for lively discussions and shared experiences. Enjoy seamless video quality and
                            engaging interactions. Stay connected, no matter the distance.
                        </p>
                    </div>
                </div>

                <!-- List Item 3 -->
                <div class="flex flex-col space-y-3 md:space-y-0 md:space-x-6 md:flex-row">
                    <!-- Heading -->
                    <div class="rounded-l-full bg-brightRedSupLight md:bg-transparent">
                        <div class="flex items-center space-x-2">
                            <div class="px-4 py-2 text-white rounded-full md:py-1 bg-brightRed">
                                03
                            </div>
                            <h3 class="text-base font-bold md:mb-4 md:hidden">
                                Lonely? Talk to an AI bot!
                            </h3>
                        </div>
                    </div>

                    <div>
                        <h3 class="hidden mb-4 text-lg font-bold md:block">
                            Lonely? Talk to an AI bot!
                        </h3>
                        <p class="text-darkGrayishBlue">
                             Engage in friendly and meaningful conversations, finding a
                            supportive friend always ready to listen. Embrace companionship, free of judgment or
                            pressure. Reach out now and let our AI bot brighten your day!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--SECTION-->

    <section id="cta" class="bg-brightRed">
        <!-- Flex Container -->
        <div
            class="container flex flex-col items-center justify-between px-6 py-24 mx-auto space-y-12 md:py-12 md:flex-row md:space-y-0">
            <!-- Heading -->
            <h2 class="text-5xl font-bold text-center text-white md:text-4xl md:max-w-xl md:text-left">
                Simplify how you communicate
            </h2>
            <!-- Button -->
            <div>
                <a href="#"
                    class="p-3 px-6 pt-2 text-brightRed bg-white rounded-full shadow-2xl baseline hover:bg-gray-900">Get
                    Started</a>
            </div>
        </div>
    </section>
    >

    </section>

 


</body>

</html>