{% extends 'VideoChat360/main.html' %}
{% load static %}
{% block content %}

<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>friendVC</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'css/main.css' %}">
</head>
<body>
<main>
    <section id="form-container">
        <img id="logo" src="{% static 'images/vc icon.png' %}"/>
        <div id="welcome-message">
            <h1>Welcome to friendVC</h1>
            <p>A video calling platform made just for you and a peer</p>
        </div>
        <form id="form">
            <div class="field-wrapper">
                <div class="form-field">
                    <label>friendVC:</label>
                    <input name="friendVC" id="friendVCInput" placeholder="Enter a friendVC name..." style="text-transform:uppercase" />
                </div>
                <div class="form-field">
                    <label>Name:</label>
                    <input name="name" id="nameInput" placeholder="Enter your name..." style="text-transform:uppercase" />
                </div>
                <div class="form-field">
                    <input type="submit" value="join" />
                </div>
            </div>
        </form>
    </section>
</main>

<script src="{% static 'js/main.js' %}"></script>

</body>
</html>

{% endblock content %}

